[Unit]
Description=yenda service
After=network.target
After=systemd-user-sessions.service
After=network-online.target
# After=mysql.service

[Service]
User=yenda
Type=forking
TimeoutSec=30
ExecStart=/usr/local/bin/yenda-start.sh

[Install]
WantedBy=default.target
